<a href="https://colab.research.google.com/github/HG-2022/HG-2022/blob/main/python_pandas_lib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

url= 'https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv'
df= pd.read_csv(url)
print(df.head(5))
df

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [55]:
### Reading headers

print(df.columns)

df.columns ## also prints col

## printing specific collumns
print(df[['Name','Type 1', 'HP']])
df[['Name','HP']]
print(df.head(5))## printing rows 

#### iloc function
## to return specific row, iloc (integer location) is used
print(df.iloc[4]) 
print(df.iloc[0:4])

## to print value in a specific row and column by using their respective numbers instead of names
print(df.iloc[3,5])


### iterrows()
## iterate rows using iterrows(). iterrows is for loop in python
for index, row in df.iterrows():
  #print(index,row)
  print(index,row['Type 1'])
  
  ### Unique function
  ### dataframe[column name].unique function
  print(df['Name'].unique())
df['Name'].unique() ## also prints
 

df.columns


### df.loc()
## selecting rows based on a specific condition . similar to where condtion in sql
df.loc[df['Type 1']== "Grass"]

df.describe()
10+20

## describes shape rows and columns of a table 
df.shape
rows,columns = df.shape
rows
columns

##min max mean std of a column

df['Attack'].max()
df['minimum']=df['Attack'].min()
df['Defense'].std()
df.head(5)

#conditional queries
df[df.Attack >=50]

## return row where attack is maximum
df[df['Attack']== df['Attack'].max()]

## i dont want entire row. give me just Name column where Attack is max
df.Name[df['Attack']== df['Attack'].max()]

###I dont want entire row. I want more than 1 columns from the row where defense is max 
df[['Name','HP','Defense']][df['Defense']==df['Defense'].max()]


## set index
df.set_index('Type 1', inplace=True)
df
df.loc['Fire']

#to reset index.
df.reset_index(inplace=True)
df


## making changes to data
df.head(5) 
df['total']=df['Attack']+df['HP']
49+45

,Type 1,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,minimum,total
0,Grass,1,Bulbasaur,Poison,45,49,49,65,65,45,1,False,5,94
1,Grass,2,Ivysaur,Poison,60,62,63,80,80,60,1,False,5,122
2,Grass,3,Venusaur,Poison,80,82,83,100,100,80,1,False,5,162
3,Grass,3,VenusaurMega Venusaur,Poison,80,100,123,122,120,80,1,False,5,180
4,Fire,4,Charmander,NaN,39,52,43,60,50,65,1,False,5,91

In [ ]:
### functions to learn
memory_usage()
astype()
loc[:]
to_datetime()
value_counts()
drop_duplicates()
groupby()
merge()
sort_values()
fillna()
Shape, Size and Info
isna
Nunique
Dtypes
Sample
Identifying Missing Values Isnull
nsmallest() and nlargest()